@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.blue{
    color: #00c4cc;
}

img{
    width: 100%;
}

h1,
h2,h3{
    color: white;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.click{
    cursor: pointer;
}

.row{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

nav{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ada9a9;
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__container{
    display: flex;
    justify-content: space-between;
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#landing{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.nav__logo{
    width: 120px;
    height: 120px;
}

.nav__logo--img{
    width: 100%;
    mix-blend-mode: multiply;
}

.nav__links{
    display: flex;
    align-items: center;
}

.nav__link{
    margin-right: 28px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.nav__link--btn{
    font-size: 16px;
    font-weight: 700;
    background-color: #00c4cc;
    border: #00c4cc 2px solid;
    border-radius: 999px;
    padding: 16px 20px;
    transition: all 300ms ease;
}

.nav__link--hover{
    position:relative;
}

.nav__link--hover:hover:after {
    left: 0;
    width: 100%;
}

.nav__link--hover:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 3px;
    right: 0;
    transition: all 300ms ease;
    background-color: black;
}

.nav__link--hover--btn:hover{
    background-color: #00f7ff;
}

header{
    margin-top: 64px;
}

/* LANDING PAGE */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title{
    color:#00c4cc;
    font-size: 48px;
    font-weight: 700;
    padding: 24px 12px;
    text-align: center;
}

.header__subtitle{
    padding: 12px 24px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.input__wrapper{
    margin: 12px 24px;
    position: relative;
}

.search__input{
    padding: 24px 80px;
    border: none;
    border-radius: 999px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-size: 20px;
}

.search__icon{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    padding: 24px 40px;
    margin-left: 20px;
}

.fa-search{
    color: black;
    font-size: 28px;
}

/* MOVIES */

#movies{
    background-color: #ada9a9;
    padding: 40px 0px;
}

.movie__header{
    color: #0f5153;
    font-size: 40px;
    font-weight: 700;
}

.movies__wrapper{
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.movie{
    width:calc(100% / 4);
    padding: 20px;
}

.movie__img--wrapper{
    width: 100%;
    max-width: 240xp;
}

.movie__title{
    color: black;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 700;
}

.movie__release{
    font-size: 14px;
    font-weight: 200;
    color: black;
}

/* footer */

footer{
    background-color: black;
    padding: 40px 0;
}

.footer__title{
    color: white;
    font-size: 24px;
    font-weight: 400;
}


.footer__copyright{
    color: white;
    padding: 12px 0;
}

.footer__social--links{
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-brands,
.fa-solid{
    color:#00c4cc;
    padding: 12px 12px;
    border: 2px solid #00f7ff;
    border-radius: 999px;
    margin: 4px 12px;
}




